/* Root */
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    outline: none;
}

/* Body */
body {
    background-color: #f4f4f4;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    overflow-y: scroll;
}

/* header */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background-color: #35424a;
    border-bottom: 3px solid #e8491d;
    min-height: 70px;
    position: sticky;
    top: 0;
}

/* branding */
#header .logo-branding {
    color: #fff;
}

#header .logo-branding a {
    text-decoration: none;
    color: #fff;
}

/* Navbar */
#nav-bar {
    display: flex;
}

#nav-bar ul {
    list-style: none;
    display: flex;
    margin-right: 10px;
}

#nav-bar li {
    padding: 10px;
}

#nav-bar a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

#nav-bar a:hover {
    color: #ccc;
}

#header .highlight, #header .current > a{
    color: #e8491d;
}

/* Newsletter */
#newsletter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
    background-color: #35424a;
    color: white;
}

#newsletter > h3 {
    font-size: 20px;
}

#newsletter form {
    display: flex;
}

.txt-input {
    padding: 10px;
    height: 35px;
    border: 1px solid #fff;
    width: 250px;
}

.btn-submit {
    border: 1px solid #e8491d;
    background-color: #e8491d;
    padding: 10px;
    height: 35px;
    color: #fff;
}

.btn-submit:hover {
    background-color: #e73504;
}

/* Main section, Main Article and Aside Section */
#main {
    display: flex;
    justify-content: space-between;
    padding: 20px 5px;
}

.article, .aside {
    padding: 10px;
    margin: 0 20px;
}

.article p, .aside p {
    margin: 15px 0;
    text-align: justify;
    padding-bottom: 10px;
}

.article {
    padding: 30px;
}

.aside {
    background-color: #35424a;
    color: #fff;
    padding: 30px;
    height: fit-content;
}

/* footer */
#footer {
    background-color: #e8491d;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
}

/* Media Query */
@media (max-width: 720px) {

    /* Header */
    #header {
        flex-direction: column;
        padding: 15px 10px;
    }
    #nav-bar {
        margin-top: 7px;
        width: 80%;
    }
    #nav-bar ul{
        width: 100%;
        justify-content: space-around;
    }

    /* Newsletter */
    #newsletter {
        flex-direction: column;
        font-size: 12px;
        padding: 13px 0;
    }
    #newsletter form {
        margin: 7px 0;
    }
    
    /* Main Section */
    #main {
        flex-direction: column;
        font-size: 14px;
    }

    /* Footer */
    #footer {
        font-size: 14px;
    }
}