/* Root */
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    outline: none;
}

/* Body */
body {
    background-color: #f4f4f4;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    overflow-y: scroll;
}

