/* Root */
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    outline: none;
}

/* Body */
body {
    background-color: #f4f4f4;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    overflow-y: scroll;
}

/* header */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background-color: #35424a;
    border-bottom: 3px solid #e8491d;
    min-height: 70px;
    position: sticky;
    top: 0;
}

/* branding */
#header .logo-branding {
    color: #fff;
}

/* Navbar */
#nav-bar {
    display: flex;
}

#nav-bar ul {
    list-style: none;
    display: flex;
    margin-right: 10px;
}

#nav-bar li {
    padding: 10px;
}

#nav-bar a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

#nav-bar a:hover {
    color: #ccc;
}

#header .highlight, #header .current > a{
    color: #e8491d;
}

/* showcase */
#showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 450px;
    background-image: url("../image/showcase.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 78%;
}

#showcase .showcase-wrapper {
    display: flex;
    justify-content: end;
    flex-direction: column;
    text-align: center;
    font-size: 48px;
    min-height: 450px;
    width: 100%;
    padding: 50px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Newsletter */
#newsletter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
    background-color: #35424a;
    color: white;
}

#newsletter > h3 {
    font-size: 20px;
}

#newsletter form {
    display: flex;
}

.txt-input {
    padding: 10px;
    height: 35px;
    border: 1px solid #fff;
    width: 250px;
}

.btn-submit {
    border: 1px solid #e8491d;
    background-color: #e8491d;
    padding: 10px;
    height: 35px;
    color: #fff;
}

/* Packages */
#packages {
    display: flex;
    padding: 60px 40px;
    justify-content: space-between;
}

#packages .box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#packages .box h3 {
    margin: 10px 0;
}

#packages .box p {
    text-align: justify;
}

#packages img {
    width: 90px;
}

/* footer */
#footer {
    background-color: #e8491d;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
}

/* Media Query */
@media (max-width: 720px){

    /* Header */
    #header {
        flex-direction: column;
        padding: 15px 10px;
    }
    #nav-bar {
        margin-top: 7px;
        width: 80%;
    }
    #nav-bar ul{
        width: 100%;
        justify-content: space-around;
    }

    /* Showcase */
    #showcase {
        min-height: 370px;
    }
    #showcase .showcase-wrapper {
        font-size: 32px;
        min-height: 370px;
    }

    /* Newsletter */
    #newsletter {
        flex-direction: column;
        font-size: 16px;
    }
    #newsletter form {
        margin: 10px 0;
    }

    /* Packages */
    #packages {
        flex-direction: column;
        padding: 15px;
    }
    #packages .box {
        margin-bottom: 20px;
        padding: 10px;
    }
    #packages .box:last-child {
        margin-bottom: 10px;
    }
    #packages img {
        width: 150px;
    }
    #packages .box h3 {
        margin: 5px 0;
    }
    #packages .box p {
        text-align: center;
    }
}